@import "tailwindcss";

html {
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    overflow-x: hidden;
}

html {
}

:root {
    --nav-height: 6rem;
    --accent: #fbbf24;
}

.limited {
    max-width: 1280px;
}

@layer utilities {
    .highlight-gradient {
        @apply bg-gradient-to-r from-amber-400 from-60% to-transparent
    }
    .highlight-gradient-alt {
        @apply bg-gradient-to-r from-amber-100 from-60% to-transparent
    }

    .highlight-gradient-onhover {
        @apply group-hover:bg-gradient-to-r group-hover:from-yellow-300 group-hover:from-70% group-hover:to-transparent
    }
}
